*{
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    background-color: black;
    width:100%;
    height: 80px;
    z-index: 99;
}

#hello{
    background-color: grey;
    color:gold;
    position: absolute;
    top:80px;
    left: 0;
    width: 100%;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

#stuff{
    background-color: grey;
    color:gold;
    position: absolute;
    top:80px;
    left: 0;
    width: 100%;
    text-align: center;

}

a{
    text-decoration: none;
    color: gold;
}

#pics{
    background-color: grey;
    color:gold;
    position: absolute;
    top:80px;
    left: 0;
    width: 100%;
    text-align: center;
}

img{
    height:200px;
}

